extends ../components/base/layout

block variables
  - const title = "Тестовое задание для фронтенд-разработчика its.agency"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html"

block main
  main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +hero()

block modals
