extends ../components/base/layout

block variables
  - const title = "Тестовое задание для фронтенд-разработчика its.agency"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html"
  -
    const breadcrumbs = {
      parents: [
        {
          text: "Главная",
          href: "index.html",
        },
        {
          text: "Продукты",
          href: "#",
        },
      ],
      currentPage: "Краски",
    }

block main
  main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +breadcrumbs().breadcrumbs--on-hero
    +hero()
    +catalog()

append modals
  +modal("modal--sort-filter modal--no-scale")(data-modal="sort-filter")
    +modal-sort-filter()
