.sort-filter__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-filter__filter-radio {
  display: block;

  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.sort-filter__input {
  &:checked + .sort-filter__label {
    background-color: $color-padua;
  }

  @include hover-focus {
    & + .sort-filter__label {
      background-color: $color-padua;
    }
  }
}

.sort-filter__label {
  display: block;

  padding: 16px 24px;

  background-color: $color-default-white;

  transition: background-color $trans-default;

  cursor: pointer;
}
