mixin header(headerMods, currentUrl)
  -
    const logoImg = ['content', 'logo', 'svg', 131, 26]

  header.header(class=headerMods)
    .container
      .header__inner
        if(currentUrl === "index.html")
          //- lighthouse снимает 10 баллов SEO за <a> без href
          span.header__logo
            +img(...logoImg).header__logo-img
        else
          a.header__logo(href="index.html", aria-label="Переход на главную")
            +img(...logoImg).header__logo-img
        +main-nav().header__main-nav
        +btn({mods: "icon-cart"}).header__cart-btn
          span 0
