-
  const heroSlides = [
    {
      cover: ["content", "slide-01", "jpg", 1920, 560],
      title: "Краски",
      descr: [
        "Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!",
      ],
    },
    {
      cover: ["content", "slide-01", "jpg", 1920, 560],
      title: "Краски",
      descr: [
        "Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!",
      ],
    },
    {
      cover: ["content", "slide-01", "jpg", 1920, 560],
      title: "Краски",
      descr: [
        "Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!",
      ],
    },
    {
      cover: ["content", "slide-01", "jpg", 1920, 560],
      title: "Краски",
      descr: [
        "Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!",
      ],
    },
    {
      cover: ["content", "slide-01", "jpg", 1920, 560],
      title: "Краски",
      descr: [
        "Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!",
      ],
    },
    {
      cover: ["content", "slide-01", "jpg", 1920, 560],
      title: "Краски",
      descr: [
        "Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!",
      ],
    },
  ]
